<p id="notice"><%= notice %></p>

<h1>Listing Confs</h1>

<table>
  <thead>
    <tr>
      <th>Telefono</th>
      <th>Domicilio</th>
      <th>Correo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @confs.each do |conf| %>
      <tr>
        <td><%= conf.telefono %></td>
        <td><%= conf.domicilio %></td>
        <td><%= conf.correo %></td>
        <td><%= link_to 'Show', conf %></td>
        <td><%= link_to 'Edit', edit_conf_path(conf) %></td>
        <td><%= link_to 'Destroy', conf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conf', new_conf_path %>
