<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
<li><%= link_to "Perfil", perfil_path %></li>
<li><%= link_to "Change your password", edit_user_registration_path %></li>
<li><%= link_to 'Login', new_user_session_path%></li>
<li><%= link_to 'Register', new_user_path%></li>


<li><%= link_to 'sucursales', branch_offices_path%></li>
<li><%= link_to 'Agentes', agents_path%></li>
<li><%= link_to 'Empresas', companies_path%></li>
<li><%= link_to 'Usuarios', users_path%></li>