
<%unless current_user.nil?%>
    <li><%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete %></li> 
<%end%>
<%if current_user.nil?%>
    <li><%= link_to 'Quienes somos',"#quienes_somos"%></li>
    <li><a href="#row">Sucursales</a></li>
<li><a href="#work">Principios</a></li>
<li><a href="#contact">Contacto</a></li>
    <li><%= link_to 'Iniciar sesión', new_user_session_path%></li>
<%elsif current_user.tipo==1%>
    <li><%= link_to 'Clientes', customers_path%></li>
    <li><%= link_to 'Sucursales', branch_offices_path%></li>
    <li><%= link_to 'Agentes', agents_path%></li>
    
    <li><%= link_to 'Empresas', companies_path%></li>
    <li><%= link_to 'Productos', products_path%></li>
    <li><%= link_to 'Usuarios', users_path%></li>
<%elsif current_user.tipo==2%>
    <li><%= link_to 'Creditos', credit_path%></li>
<%elsif current_user.tipo==3%>
    <li><%= link_to 'Creditos', credits_path%></li>
    
<%elsif current_user.tipo==4%>
    
<%end%>
<!--
 <li><%= link_to "Perfil", perfil_path %></li>
    <li><%= link_to "Change your password", edit_user_registration_path %></li>
    <li><%= link_to 'Login', new_user_session_path%></li>
    <li><%= link_to 'Register', new_user_path%></li>
    
-->


    