
  <ul id="dropdown1" class="dropdown-content">
      <li><%= link_to 'Levantar credito', '/credits/new'%></li>
      <!--li><%= link_to 'Levantar Vale', '/credits/nuevo'%></li-->
      <li><%= link_to 'Por aceptar', view_credits_path%></li>
      <li><%= link_to 'Aceptados', view_credits_aceptadas_path%></li>
      <li><%= link_to 'Rechazado', view_credits_rechazadas_path%></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
      <li><%= link_to 'Configuraciones', Conf.last%></li>
      <li><%= link_to 'Productos', products_path%></li>
      <li><%= link_to 'Usuarios', users_path%></li>
      <li><%= link_to 'Sucursales', branch_offices_path%></li>
      <li><%= link_to 'Empresas', companies_path%></li>
      <li><%= link_to 'Agentes', agents_path%></li>
      <li><%= link_to 'Reporte de Usuarios', "/reports/usuarios"%></li>
      <li><%= link_to 'Reporte de Agentes', "/reports/agentes"%></li>
      <li><%= link_to 'Reportes DTKTA Clientes', "/reports/dtkta"%></li>
      <li><%= link_to 'Reportes DTKTA Cuentas', "/reports/dtkta_cuentas"%></li>
      <li><%= link_to 'Reportes DTKTA Perfil Transaccional', "/reports/dtkta_perfil"%></li>
      <li><%= link_to 'Reportes DTKTA Movimientos Diarios', "/reports/dtkta_movtos"%></li>
      <li><%= link_to 'Consulta Creditos', "/reports/consulta_cred"%></li>
    </ul>
    <ul id="dropdown3" class="dropdown-content">
      <li><%= link_to 'Recibos', receipts_path%></li>
      <li><%= link_to 'Pagos', payments_path%></li>
      <li><%= link_to 'Pagos por empresa', paymentscompany_path%></li>
    </ul>
    <ul id="dropdown4" class="dropdown-content">
      <li><%= link_to 'Seguimiento de cobranza', "/reports/seguimiento"%></li>
      <li><%= link_to 'Seguimiento quincenal', "/reports/seguimiento_quincenal"%></li>
      <li><%= link_to 'Reporte de cobranza', "/reports/cobranza"%></li>
      <li><%= link_to 'Pronostico de cobranza', "/reports/pronostico_de_cobranza"%></li>
      <!--<li><%= link_to 'Clientes', "/reports/clientes"%></li>-->
      <li><%= link_to 'Calificaciones', "/reports/calificaciones"%></li>
      <li><%= link_to 'Estado de cta.', "/reports/estado_de_cuenta"%></li>
      <li><%= link_to 'Reporte de pagos', "/reports/reporte_de_pagos"%></li>
      <li><%= link_to 'Historial de pagos', "/reports/historial_de_pagos"%></li>
      <li><%= link_to 'Historial de recibos', "/reports/historial_de_recibos"%></li>
      <li><%= link_to 'Números Tablero', "/reports/num_tablero"%></li>
      <li><%= link_to 'Créditos Vencidos', "/reports/vencidos"%></li>
      
    </ul>
    <ul id="dropdown5" class="dropdown-content">
        <li><%= link_to 'Lista de Clientes', customers_path%></li>
        <li><%= link_to 'Reporte de Clientes', "/reports/clientes"%></li>
    </ul>
    
    <ul id="dropdown6" class="dropdown-content">
        <li><%= link_to 'Manual del Usuario', "/ver_video/index"%></li>
       
    </ul>
<%if current_user.nil?%>
    <li><%= link_to 'Quienes somos',"#quienes_somos"%></li>
    <li><a href="#row">Sucursales</a></li>
<li><a href="#work">Principios</a></li>
<li><a href="#contact">Contacto</a></li>
    <li><%= link_to 'Iniciar sesión', new_user_session_path%></li>
<%elsif current_user.tipo==1%>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Creditos<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Pagos y recibos<i class="material-icons right">arrow_drop_down</i></a></li> 
    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Administracion<i class="material-icons right">arrow_drop_down</i></a></li> 
    <li><a class="dropdown-button" href="#!" data-activates="dropdown4">Reportes<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown5">Clientes<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown6">Ayuda<i class="material-icons right">arrow_drop_down</i></a></li> 
    <!--<li><%= link_to 'Clientes', customers_path%></li> -->
   
    
<%elsif current_user.tipo==2%>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Creditos<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Pagos/recibos<i class="material-icons right">arrow_drop_down</i></a></li> 
    <li><%= link_to 'Clientes', customers_path%></li>
<%elsif current_user.tipo==3%>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Creditos<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Pagos/recibos<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown4">Reportes<i class="material-icons right">arrow_drop_down</i></a></li> 
    <li><%= link_to 'Clientes', customers_path%></li>
    
<%elsif current_user.tipo==4%>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown4">Reportes<i class="material-icons right">arrow_drop_down</i></a></li> 
    <li><%= link_to 'Clientes', customers_path%></li>
<%end%>
<%unless current_user.nil?%>
    <li><%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete %></li> 
<%end%>

 
        






    