
  <ul id="dropdown1" class="dropdown-content">
      <li><%= link_to 'Levantar credito', '/credits/new'%></li>
      <li><%= link_to 'Por aceptar', view_credits_path%></li>
      <li><%= link_to 'Aceptados', view_credits_aceptadas_path%></li>
      <li><%= link_to 'Rechazado', view_credits_rechazadas_path%></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
      <li><%= link_to 'Configuraciones', Conf.last%></li>
      <li><%= link_to 'Productos', products_path%></li>
      <li><%= link_to 'Usuarios', users_path%></li>
      <li><%= link_to 'Sucursales', branch_offices_path%></li>
      <li><%= link_to 'Empresas', companies_path%></li>
      <li><%= link_to 'Agentes', agents_path%></li>
    </ul>
    <ul id="dropdown3" class="dropdown-content">
      <li><%= link_to 'Recibos', receipts_path%></li>
      <li><%= link_to 'Pagos', payments_path%></li>
    </ul>
    <ul id="dropdown4" class="dropdown-content">
      <li><%= link_to 'Seguimiento de cobranza', "/reports/seguimiento"%></li>
      <li><%= link_to 'Seguimiento quincenal', "/reports/seguimiento"%></li>
      <li><%= link_to 'Pronostico de cobranza', "/reports/pronostico_de_cobranza"%></li>
      <li><%= link_to 'clientes', "/reports/clientes"%></li>
    </ul>
<%if current_user.nil?%>
    <li><%= link_to 'Quienes somos',"#quienes_somos"%></li>
    <li><a href="#row">Sucursales</a></li>
<li><a href="#work">Principios</a></li>
<li><a href="#contact">Contacto</a></li>
    <li><%= link_to 'Iniciar sesión', new_user_session_path%></li>
<%elsif current_user.tipo==1%>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Creditos<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Pagos y recibos<i class="material-icons right">arrow_drop_down</i></a></li> 
    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Administracion<i class="material-icons right">arrow_drop_down</i></a></li> 
    <li><a class="dropdown-button" href="#!" data-activates="dropdown4">Reportes<i class="material-icons right">arrow_drop_down</i></a></li> 
    <li><%= link_to 'Clientes', customers_path%></li>
   
    
<%elsif current_user.tipo==2%>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Creditos<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Pagos y recibos<i class="material-icons right">arrow_drop_down</i></a></li> 

    <li><%= link_to 'Clientes', customers_path%></li>
<%elsif current_user.tipo==3%>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Creditos<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Pagos y recibos<i class="material-icons right">arrow_drop_down</i></a></li>
    <li><%= link_to 'Clientes', customers_path%></li>
    
<%elsif current_user.tipo==4%>
    
<%end%>
<%unless current_user.nil?%>
    <li><%= link_to "Cerrar Sesión", destroy_user_session_path, :method => :delete %></li> 
<%end%>






    