<p id="notice"><%= notice %></p>

<h1 align="center">Solicitudes de credito por aceptar</h1>

<table>
  <thead>
    <tr>
      <th>Agente/Empresa</th>
      <th>Empresa</th>
      <th>Fecha</th>
      <th>Nombre</th>
      <th>Rfc</th>
      <th>Monto</th>
      
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @credits.each do |credit| %>
      <tr>
        <%if credit.agente_empresa %>
          <td>Agente</td>
        <%else%>
          <td>Empresa</td>
        <%end%>
        <td><%= credit.referencia_agente_empresa %></td>
        <td><%= credit.fecha.strftime("%d/%m/%Y") %></td>
        <td><%= "#{credit.apellido_paterno} #{credit.apellido_materno} #{credit.nombre_1} #{credit.nombre_2}" %></td>
        <td><%= credit.RFC %></td>
        <td><%= Dinero.to_money(credit.monto_solicitud) %></td>
        <td><%= link_to 'Mostrar',credit,class:'crud-links' %></td>
        <td><%= link_to 'Editar', edit_credit_path(credit),class:'crud-links' %></td>
        <td><%=link_to  'Aceptar', credit_path(credit,:credit=>{status:1}), :method=> :put,class:"waves-effect waves-light btn-large"%></td>
        <td><%=link_to  'Rechazar', credit_path(credit,:credit=>{status:2}), :method=> :put,class:"waves-effect waves-light btn-large"%></td>
        <td><%=link_to  'ver PDFS',pdf_path(credit),target:"_blank", class:"waves-effect waves-light btn-large"%></td>
      </tr>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva solicitud', new_credit_path, class:"crud-links" %>
