<p id="notice"><%= notice %></p>

<h2 align="center">SOLICITUDES DE CREDITOS POR ACEPTAR</h2>
<style>
  td{
    padding:5px 5px; 
  }
</style >
<table style="font-size:12px;">
  <thead>
    <tr>
      <th>AGENTE/EMPRESA</th>
      <th>SUCURSAL</th>
      <th>FECHA</th>
      <th>NOMBRE</th>
      <th>RFC</th>
      <th>MONTO</th>
      <th>CREACION</th>
      <th colspan="4"></th>
    </tr>
  </thead>


  <tbody>
    <% @credits.each do |credit| %>
      <tr>
        <%if credit.agente_empresa %>
          <td><%= credit.padre.nombre_completo%></td>
        <%else%>
          <td><%= credit.padre.nombre_completo%></td>
        <%end%>
        <td><%= credit.padre.branch_office.nombre%></td>
        <td><%= credit.fecha.strftime("%d/%m/%Y") %></td>
        <td><%= "#{credit.apellido_paterno} #{credit.apellido_materno} #{credit.nombre_1} #{credit.nombre_2}" %></td>
        <td><%= credit.RFC %></td>
        <td><%= Dinero.to_money(credit.monto_solicitud) %></td>
        <td><%= credit.created_at.strftime("%d/%m/%Y") %></br> <%= credit.created_at.strftime("%H:%m") %> </td>
        <td><%= link_to 'Mostrar',credit,class:'crud-links' %></td>
        <td><%= link_to 'Editar', edit_credit_path(credit),class:'crud-links' %></td>
        <% if current_user.tipo == 1%>
          <td><%=link_to  'Aceptar', credit_path(credit,:credit=>{status:1}), :method=> :put,class:"waves-effect waves-light btn"%></td>
          <td><%=link_to  'Rechazar', credit_path(credit,:credit=>{status:2}), :method=> :put,class:"waves-effect waves-light btn"%></td>
        <% end %>
        <td><%=link_to  'ver PDFS',pdf_path(credit),target:"_blank", class:"waves-effect waves-light btn"%></td>
      </tr>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva solicitud', new_credit_path, class:"crud-links" %>
