<p id="notice"><%= notice %></p>

<h2 align="center">LISTA DE PAGOS</h2>
<style>
  td{
    padding:5px 5px; 
  }
</style >
 <h5>CLIENTE: <%=@credit.customer.nombre_completo_deudor%></h5>
 <h5>EMPRESA: <%=@credit.padre.branch_office.nombre%></h5>
 <h5>SUCURSAL: <%=@credit.padre.nombre_completo%></h5>
<table style="font-size:12px;">
  <thead>
    <tr>
      <th>PAGO</th>
      <th>FECHA DE PAGO</th>
      <th>DIAS ATRASO</th>
      <th>PAGO FOLIO</th>
      <th>PAGO FOLIO ANTERIOR</th>
      <th>USUARIO PAGO</th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <%next if payment.tickets.count == 0%> 
      <tr>

        <td><%= payment.total_pagado%></td>
        <td><%= payment.fecha_updated_last_ticket %></td>
         <td><%= payment.fecha_de_pago.to_date %></td>
        <% if payment.total_pagado>0 %>
          <% if payment.fecha_de_pago.to_date + 15 > payment.updated_at.to_date %>
             <td><%= "" %></td>
          <% else %>
            <td><%= ((payment.fecha_de_pago.to_date + 15 - payment.updated_at.to_date) * -1).to_i %></td>
          <% end %>
            
        <% else %>
          <td><%= "" %></td>
        <% end %>
        <td><%= Auxiliar.folio payment.tickets.last.id%></td>
        <td><%= Auxiliar.folio payment.tickets.last(2)[1].id unless payment.tickets.last(2)[1].nil? %></td>
        <td><%= (payment.tickets.last.user.nil?)? "desconocido" : payment.tickets.last.user.alias %></td>
        
      </tr>
      
    <% end %>
  </tbody>
</table>

<br>

