<p id="notice"><%= notice %></p>

<h1 align="center">SOLICITUDES RECHAZADAS</h1>

<table>
  <thead>
    <tr>
      <th>AGENTE/EMPRESA</th>

      <th>FECHA</th>
      <th>NOMBRE</th>
      <th>RFC</th>
      <th>MONTO</th>
      
      <th colspan="1"></th>
    </trs
  </thead>

  <tbody>
    <% @credits.each do |credit| %>
      <tr>
        <%if credit.agente_empresa %>
          <td><h10>Agente</h10></td>
        <%else%>
          <td><h10>Empresa</h10></td>
        <%end%>
        <td><h10><%= credit.fecha %></h10></td>
        <td><h10><%= "#{credit.apellido_paterno} #{credit.apellido_materno} #{credit.nombre_1} #{credit.nombre_2}" %></h10></td>
        <td><h10><%= credit.RFC %></h10></td>
        <td><h10><%= credit.monto_solicitud %></h10></td>
        <td><h10><%= link_to 'Mostrar',credit,class:'crud-links' %></h10></td>
      </tr>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva solicitud', new_credit_path, class:"crud-links" %>
