<p id="notice"><%= notice %></p>

<h1 align="center">Solicitudes rechazadas</h1>

<table>
  <thead>
    <tr>
      <th>Agente/Empresa</th>
      <th>Empresa</th>
      <th>Fecha</th>
      <th>Nombre</th>
      <th>Rfc</th>
      <th>Monto</th>
      
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @credits.each do |credit| %>
      <tr>
        <%if credit.agente_empresa %>
          <td>Agente</td>
        <%else%>
          <td>Empresa</td>
        <%end%>
        <td><%= credit.referencia_agenteEmpresa %></td>
        <td><%= credit.fecha %></td>
        <td><%= "#{credit.apellido_paterno} #{credit.apellido_materno} #{credit.nombre_1} #{credit.nombre_2}" %></td>
        <td><%= credit.RFC %></td>
        <td><%= credit.monto_solicitud %></td>
        <td><%= link_to 'Mostrar',credit,class:'crud-links' %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva solicitud', new_credit_path, class:"crud-links" %>
