<div class="row card-panel deep-orange lighten-1">  
  <h5 class="center-align ">
    <strong>Credito</strong>
   
  </h5>
  </div>
  <div class="show row">
<p>
  <strong>Agente empresa:</strong>
  <%= @credit.agente_empresa %>
</p>

<p>
  <strong>Referencia agenteempresa:</strong>
  <%= @credit.referencia_agenteEmpresa %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @credit.fecha %>
</p>

<p>
  <strong>Es cliente:</strong>
  <%= @credit.es_cliente %>
</p>

<p>
  <strong>Como se entero:</strong>
  <%= @credit.como_se_entero %>
</p>

<p>
  <strong>Familiar con prestamo:</strong>
  <%= @credit.familiar_con_prestamo %>
</p>

<p>
  <strong>Nombre completo familiar 1:</strong>
  <%= @credit.nombre_completo_familiar_1 %>
</p>

<p>
  <strong>Parentesco 1:</strong>
  <%= @credit.parentesco_1 %>
</p>

<p>
  <strong>Nombre completo familiar 1:</strong>
  <%= @credit.nombre_completo_familiar_1 %>
</p>



<p>
  <strong>Nombre completo familiar 1:</strong>
  <%= @credit.nombre_completo_familiar_1 %>
</p>

<p>
  <strong>Parentesco 1:</strong>
  <%= @credit.parentesco_1 %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @credit.apellido_paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @credit.apellido_materno %>
</p>

<p>
  <strong>Nombre 1:</strong>
  <%= @credit.nombre_1 %>
</p>

<p>
  <strong>Nombre 2:</strong>
  <%= @credit.nombre_2 %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @credit.RFC %>
</p>

<p>
  <strong>Curp:</strong>
  <%= @credit.CURP %>
</p>

<p>
  <strong>Seguro:</strong>
  <%= @credit.seguro %>
</p>

<p>
  <strong>Ine:</strong>
  <%= @credit.INE %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @credit.nacionalidad %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @credit.fecha_de_nacimiento %>
</p>

<p>
  <strong>Ciudad de nacimiento:</strong>
  <%= @credit.ciudad_de_nacimiento %>
</p>

<p>
  <strong>Estado de nacimiento:</strong>
  <%= @credit.estado_de_nacimiento %>
</p>



<p>
  <strong>Sexo:</strong>
  <%= @credit.sexo %>
</p>

<p>
  <strong>Telefono de casa:</strong>
  <%= @credit.telefono_de_casa %>
</p>

<p>
  <strong>Telefono celular:</strong>
  <%= @credit.telefono_celular %>
</p>

<p>
  <strong>Email 1:</strong>
  <%= @credit.email_1 %>
</p>

<p>
  <strong>Email 2:</strong>
  <%= @credit.email_2 %>
</p>

<p>
  <strong>Escolaridad:</strong>
  <%= @credit.escolaridad %>
</p>

<p>
  <strong>Actividad econimica:</strong>
  <%= @credit.economical_activity_id %>
</p>

<p>
  <strong>Numero de dependientes economicos:</strong>
  <%= @credit.numero_de_dependientes_economicos %>
</p>

<p>
  <strong>Gasto promedio mensual:</strong>
  <%= @credit.gasto_promedio_mensual %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @credit.estado_civil %>
</p>

<p>
  <strong>Apellido paterno del conyuge:</strong>
  <%= @credit.apellido_paterno_del_conyuge %>
</p>

<p>
  <strong>Apellido materno del conyuge:</strong>
  <%= @credit.apellido_materno_del_conyuge %>
</p>

<p>
  <strong>Nombre 1 del conyuge:</strong>
  <%= @credit.nombre_1_del_conyuge %>
</p>

<p>
  <strong>Nombre 2 del conyuge:</strong>
  <%= @credit.nombre_2_del_conyuge %>
</p>

<p>
  <strong>Telefono celular del conyuge:</strong>
  <%= @credit.telefono_celular_del_conyuge %>
</p>

<p>
  <strong>Telefono de oficina del conyuge:</strong>
  <%= @credit.telefono_de_oficina_del_conyuge %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @credit.fecha_de_nacimiento %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @credit.calle %>
</p>

<p>
  <strong>Numero interior:</strong>
  <%= @credit.numero_interior %>
</p>

<p>
  <strong>Numero exterior:</strong>
  <%= @credit.numero_exterior %>
</p>

<p>
  <strong>Tipo de domicilio:</strong>
  <%= @credit.tipo_de_domicilio %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= @credit.codigo_postal %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @credit.colonia %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @credit.localidad %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @credit.municipio %>
</p>

<p>
  <strong>Estado actual:</strong>
  <%= @credit.estado_actual %>
</p>

<p>
  <strong>Antiguedad en el domicilio actual:</strong>
  <%= @credit.antiguedad_en_el_domicilio_actual %>
</p>

<p>
  <strong>Antiguedad en el domicilio anterior:</strong>
  <%= @credit.antiguedad_en_el_domicilio_anterior %>
</p>

<p>
  <strong>Empresa donde labora:</strong>
  <%= @credit.empresa_donde_labora %>
</p>

<p>
  <strong>Giro de la empresa:</strong>
  <%= @credit.giro_de_la_empresa %>
</p>

<p>
  <strong>Puesto:</strong>
  <%= @credit.puesto %>
</p>

<p>
  <strong>Telefono empresa:</strong>
  <%= @credit.telefono_empresa %>
</p>

<p>
  <strong>Antiguedad laboral:</strong>
  <%= @credit.antiguedad_laboral %>
</p>

<p>
  <strong>Sueldo mensual neto:</strong>
  <%= @credit.sueldo_mensual_neto %>
</p>

<p>
  <strong>Dirreccion empresa:</strong>
  <%= @credit.dirreccion_empresa %>
</p>

<p>
  <strong>Colonia empresa:</strong>
  <%= @credit.colonia_empresa %>
</p>

<p>
  <strong>Municipio empresa:</strong>
  <%= @credit.municipio_empresa %>
</p>

<p>
  <strong>Monto solicitud:</strong>
  <%= @credit.monto_solicitud %>
</p>

<p>
  <strong>Cada cuanto se realizara el pago:</strong>
  <%= @credit.cada_cuanto_se_realizara_el_pago %>
</p>

<p>
  <strong>Lugar donde se realizara el pago:</strong>
  <%= @credit.lugar_donde_se_realizara_el_pago %>
</p>

<p>
  <strong>Nombre referencia 1:</strong>
  <%= @credit.nombre_referencia_1 %>
</p>

<p>
  <strong>Domicilio referencia 1:</strong>
  <%= @credit.domicilio_referencia_1 %>
</p>

<p>
  <strong>Telefono fijo referencia 1:</strong>
  <%= @credit.telefono_fijo_referencia_1 %>
</p>

<p>
  <strong>Telefono celular referencia 1:</strong>
  <%= @credit.telefono_celular_referencia_1 %>
</p>

<p>
  <strong>Nombre referencia 2:</strong>
  <%= @credit.nombre_referencia_2 %>
</p>

<p>
  <strong>Domicilio referencia 2:</strong>
  <%= @credit.domicilio_referencia_2 %>
</p>

<p>
  <strong>Telefono fijo referencia 2:</strong>
  <%= @credit.telefono_fijo_referencia_2 %>
</p>

<p>
  <strong>Telefono celular referencia 2:</strong>
  <%= @credit.telefono_celular_referencia_2 %>
</p>

<p>
  <strong>Nombre referencia familiar:</strong>
  <%= @credit.nombre_referencia_familiar %>
</p>

<p>
  <strong>Domicilio referencia familiar:</strong>
  <%= @credit.domicilio_referencia_familiar %>
</p>

<p>
  <strong>Telefono fijo referencia familiar:</strong>
  <%= @credit.telefono_fijo_referencia_familiar %>
</p>

<p>
  <strong>Telefono celular referencia familiar:</strong>
  <%= @credit.telefono_celular_referencia_familiar %>
</p>
</div>

<%= link_to 'Edit', edit_credit_path(@credit),class:"crud-links" %> |
<%= link_to 'Back', view_credits_path,class:"crud-links" %>
