<div class="row">
    <div class="col s12 ">
        <h4>Historial de creditos </h4>
    </div>
    <style>
      td{
        padding:5px 5px; 
      }
    </style >
    <div class="col s12">
        <table style="font-size:12px;">
              <thead>
                <tr>
                  <th>PAGO</th>
                  <th>FECHA PAGO</th>
                  <th>FECHA CREDITO</th>
                  <th>FOLIO</th>
                  <th>FOLIO ANTERIOR</th>
                  <th>MONTO</th>
                  <th>ESTADO</th>
                  <th>CALIFICACION</th>
                  <th></th>
                </tr>
              </thead>
            <tbody>
            <% @credits.each do |credit| %>
              <tr>
                <td><%= credit.padre.nombre_completo unless credit.padre.nil? %></td>
                <td><%= credit.fecha_de_contrato.strftime("%d/%m/%Y") unless credit.fecha_de_contrato.nil?  %></td>
                <td><%= "#{credit.apellido_paterno} #{credit.apellido_materno} #{credit.nombre_1} #{credit.nombre_2}" %></td>
                <td><%= credit.RFC %></td>
                <td><%= Dinero.to_money(credit.monto_solicitud) %></td>
                <td><%= credit.status==1?"ACTIVO":"FINALIZADO"%></td>
                <td><%= credit.calificacion%></td>
                <% if params[:op].to_i == 1%>
                  <td><%= link_to 'Ver pagos',creditpagos_url(credit), class:'crud-links' %></td>
                <%else%>
                  <td><%= link_to 'Modificar PDF',editpdf_path(credit)%></td>
                  <td><%= link_to 'Mostrar',"#{credit_path credit}?retorno=2",class:'crud-links' %></td>
                  <td><%= link_to 'Reimpresion',"/view_credits/documentos?clave=#{credit.id}",class:'crud-links' %></td>
                  <td><%= link_to 'Cancelar', credit_path(credit,:credit=>{status:2}), method: :put%></td>
                <%end%>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>