<p id="notice"><%= notice %></p>
 <div class="row">
  <h5 class="center-align card-panel deep-orange darker-2">
    <strong>Nombre:</strong>
    <%= "#{@customer.apellido_paterno} #{@customer.apellido_materno} #{@customer.nombre_1} #{@customer.nombre_2} " %>
  </h5>
 </div>
 <div class="show row">  
    <p>
      <strong>Agente empresa:</strong>
      <%= @customer.agente_empresa %>
    </p>
    
    <p>
      <strong>Referencia agenteempresa:</strong>
      <%= @customer.referencia_agenteEmpresa %>
    </p>
    
    <p>
      <strong>Como se entero:</strong>
      <%= @customer.como_se_entero %>
    </p>
    
    <p>
      <strong>Familiar con prestamo:</strong>
      <%= @customer.familiar_con_prestamo %>
    </p>
    
    <p>
      <strong>Nombre completo familiar 1:</strong>
      <%= @customer.nombre_completo_familiar_1 %>
    </p>
    
    <p>
      <strong>Parentesco 1:</strong>
      <%= @customer.parentesco_1 %>
    </p>
    
    <p>
      <strong>Apellido paterno:</strong>
      <%= @customer.apellido_paterno %>
    </p>
    
    <p>
      <strong>Apellido materno:</strong>
      <%= @customer.apellido_materno %>
    </p>
    
    <p>
      <strong>Nombre 1:</strong>
      <%= @customer.nombre_1 %>
    </p>
    
    <p>
      <strong>Nombre 2:</strong>
      <%= @customer.nombre_2 %>
    </p>
    
    <p>
      <strong>Rfc:</strong>
      <%= @customer.RFC %>
    </p>
    
    <p>
      <strong>Curp:</strong>
      <%= @customer.CURP %>
    </p>
    
    <p>
      <strong>Seguro:</strong>
      <%= @customer.seguro %>
    </p>
    
    <p>
      <strong>Ine:</strong>
      <%= @customer.INE %>
    </p>
    
    <p>
      <strong>Nacionalidad:</strong>
      <%= @customer.nacionalidad %>
    </p>
    
    <p>
      <strong>Fecha de nacimiento:</strong>
      <%= @customer.fecha_de_nacimiento %>
    </p>
    
    <p>
      <strong>Ciudad de nacimiento:</strong>
      <%= @customer.ciudad_de_nacimiento %>
    </p>
    
    <p>
      <strong>Estado de nacimiento:</strong>
      <%= @customer.estado_de_nacimiento %>
    </p>
    
    <p>
      <strong>Sexo:</strong>
      <%= @customer.sexo %>
    </p>
    
    <p>
      <strong>Telefono de casa:</strong>
      <%= @customer.telefono_de_casa %>
    </p>
    
    <p>
      <strong>Telefono celular:</strong>
      <%= @customer.telefono_celular %>
    </p>
    
    <p>
      <strong>Email 1:</strong>
      <%= @customer.email_1 %>
    </p>
    
    <p>
      <strong>Email 2:</strong>
      <%= @customer.email_2 %>
    </p>
    
    <p>
      <strong>Escolaridad:</strong>
      <%= @customer.escolaridad %>
    </p>
    
    <p>
      <strong>Numero de dependientes economicos:</strong>
      <%= @customer.numero_de_dependientes_economicos %>
    </p>
    
    <p>
      <strong>Gasto promedio mensual:</strong>
      <%= @customer.gasto_promedio_mensual %>
    </p>
    
    <p>
      <strong>Estado civil:</strong>
      <%= @customer.estado_civil %>
    </p>
    
    <p>
      <strong>Apellido paterno del conyuge:</strong>
      <%= @customer.apellido_paterno_del_conyuge %>
    </p>
    
    <p>
      <strong>Apellido materno del conyuge:</strong>
      <%= @customer.apellido_materno_del_conyuge %>
    </p>
    
    <p>
      <strong>Nombre 1 del conyuge:</strong>
      <%= @customer.nombre_1_del_conyuge %>
    </p>
    
    <p>
      <strong>Nombre 2 del conyuge:</strong>
      <%= @customer.nombre_2_del_conyuge %>
    </p>
    
    <p>
      <strong>Telefono celular del conyuge:</strong>
      <%= @customer.telefono_celular_del_conyuge %>
    </p>
    
    <p>
      <strong>Telefono de oficina del conyuge:</strong>
      <%= @customer.telefono_de_oficina_del_conyuge %>
    </p>
    
    <p>
      <strong>Calle:</strong>
      <%= @customer.calle %>
    </p>
    
    <p>
      <strong>Numero interior:</strong>
      <%= @customer.numero_interior %>
    </p>
    
    <p>
      <strong>Numero exterior:</strong>
      <%= @customer.numero_exterior %>
    </p>
    
    <p>
      <strong>Tipo de domicilio:</strong>
      <%= @customer.tipo_de_domicilio %>
    </p>
    
    <p>
      <strong>Codigo postal:</strong>
      <%= @customer.codigo_postal %>
    </p>
    
    <p>
      <strong>Colonia:</strong>
      <%= @customer.colonia %>
    </p>
    
    <p>
      <strong>Municipio:</strong>
      <%= @customer.municipio %>
    </p>
    
    <p>
      <strong>Empresa donde labora:</strong>
      <%= @customer.empresa_donde_labora %>
    </p>
    
    <p>
      <strong>Giro de la empresa:</strong>
      <%= @customer.giro_de_la_empresa %>
    </p>
    
    <p>
      <strong>Puesto:</strong>
      <%= @customer.puesto %>
    </p>
    
    <p>
      <strong>Telefono empresa:</strong>
      <%= @customer.telefono_empresa %>
    </p>
    
    <p>
      <strong>Antiguedad laboral:</strong>
      <%= @customer.antiguedad_laboral %>
    </p>
    
    <p>
      <strong>Sueldo mensual neto:</strong>
      <%= @customer.sueldo_mensual_neto %>
    </p>
    
    <p>
      <strong>Dirreccion empresa:</strong>
      <%= @customer.dirreccion_empresa %>
    </p>
    
    <p>
      <strong>Colonia empresa:</strong>
      <%= @customer.colonia_empresa %>
    </p>
    
    <p>
      <strong>Municipio empresa:</strong>
      <%= @customer.municipio_empresa %>
    </p>
    
    <p>
      <strong>Nombre referencia 1:</strong>
      <%= @customer.nombre_referencia_1 %>
    </p>
    
    <p>
      <strong>Domicilio referencia 1:</strong>
      <%= @customer.domicilio_referencia_1 %>
    </p>
    
    <p>
      <strong>Telefono fijo referencia 1:</strong>
      <%= @customer.telefono_fijo_referencia_1 %>
    </p>
    
    <p>
      <strong>Telefono celular referencia 1:</strong>
      <%= @customer.telefono_celular_referencia_1 %>
    </p>
    
    <p>
      <strong>Nombre referencia 2:</strong>
      <%= @customer.nombre_referencia_2 %>
    </p>
    
    <p>
      <strong>Domicilio referencia 2:</strong>
      <%= @customer.domicilio_referencia_2 %>
    </p>
    
    <p>
      <strong>Telefono fijo referencia 2:</strong>
      <%= @customer.telefono_fijo_referencia_2 %>
    </p>
    
    <p>
      <strong>Telefono celular referencia 2:</strong>
      <%= @customer.telefono_celular_referencia_2 %>
    </p>
    
    <p>
      <strong>Nombre referencia familiar:</strong>
      <%= @customer.nombre_referencia_familiar %>
    </p>
    
    <p>
      <strong>Domicilio referencia familiar:</strong>
      <%= @customer.domicilio_referencia_familiar %>
    </p>
    
    <p>
      <strong>Telefono fijo referencia familiar:</strong>
      <%= @customer.telefono_fijo_referencia_familiar %>
    </p>
    
    <p>
      <strong>Telefono celular referencia familiar:</strong>
      <%= @customer.telefono_celular_referencia_familiar %>
    </p>
    
    <p>
      <strong>Nombre completo familiar 2:</strong>
      <%= @customer.nombre_completo_familiar_2 %>
    </p>
    
    <p>
      <strong>Parentesco 2:</strong>
      <%= @customer.parentesco_2 %>
    </p>
    
    <p>
      <strong>Nombre completo 1:</strong>
      <%= @customer.nombre_completo_1 %>
    </p>
    
    <p>
      <strong>Edad 1:</strong>
      <%= @customer.edad_1 %>
    </p>
    
    <p>
      <strong>Parentesco del dependiente 1:</strong>
      <%= @customer.parentesco_del_dependiente_1 %>
    </p>
    
    <p>
      <strong>Nombre completo 2:</strong>
      <%= @customer.nombre_completo_2 %>
    </p>
    
    <p>
      <strong>Edad 2:</strong>
      <%= @customer.edad_2 %>
    </p>
    
    <p>
      <strong>Parentesco del dependiente 2:</strong>
      <%= @customer.parentesco_del_dependiente_2 %>
    </p>
    
    <p>
      <strong>Nombre completo 3:</strong>
      <%= @customer.nombre_completo_3 %>
    </p>
    
    <p>
      <strong>Edad 3:</strong>
      <%= @customer.edad_3 %>
    </p>
    
    <p>
      <strong>Parentesco del dependiente 3:</strong>
      <%= @customer.parentesco_del_dependiente_3 %>
    </p>
    
    <p>
      <strong>Status:</strong>
      <%= @customer.status %>
    </p>
    
    <p>
      <strong>Economical activity:</strong>
      <%= @customer.economical_activity %>
    </p>
    
    <p>
      <strong>Nombre completo familiar 3:</strong>
      <%= @customer.nombre_completo_familiar_3 %>
    </p>
    
    <p>
      <strong>Parentesco 3:</strong>
      <%= @customer.parentesco_3 %>
    </p>
    
    <p>
      <strong>Nombre completo familiar 4:</strong>
      <%= @customer.nombre_completo_familiar_4 %>
    </p>
    
    <p>
      <strong>Parentesco 4:</strong>
      <%= @customer.parentesco_4 %>
    </p>
    
    <p>
      <strong>Nombre completo 4:</strong>
      <%= @customer.nombre_completo_4 %>
    </p>
    
    <p>
      <strong>Edad 4:</strong>
      <%= @customer.edad_4 %>
    </p>
    
    <p>
      <strong>Parentesco del dependiente 4:</strong>
      <%= @customer.parentesco_del_dependiente_4 %>
    </p>
    
    <p>
      <strong>Estado actual:</strong>
      <%= @customer.estado_actual %>
    </p>
    
    <p>
      <strong>Localidad:</strong>
      <%= @customer.localidad %>
    </p>
    
    <p>
      <strong>Observaciones:</strong>
      <%= @customer.observaciones %>
    </p>
    
    <p>
      <strong>Country:</strong>
      <%= @customer.country %>
    </p>
  </div>
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
