<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @ticket.cantidad %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @ticket.payment %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
