<%= form_for(@credit) do |f| %>
  <% if @credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% @credit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col s12 m3 l3 offset-s0 offset-m9 offset-l9">
      <%= f.label :agente_Empresa%>
      <p>
        <%= f.radio_button  :agente_Empresa,true,checked:true%> <%= f.label "#{:agente_Empresa}_true", "Agente" %>
        <%= f.radio_button  :agente_Empresa,false %> <%= f.label "#{:agente_Empresa}_false", "Empresa" %>
      </p>
    </div>
  </div>
  <div class ="row">
    <div class="input-field col s12 m3 l3 offset-s0 offset-m9 offset-l9">
      <%= f.label :referencia_AgenteEmpresa,"Referencia Agente o Empresa" %>
      <%= f.number_field :referencia_AgenteEmpresa %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m3 l3 offset-s0 offset-m9 offset-l9">
      <%= f.label :fecha %>
      <%= f.text_field :fecha, class:"datepicker",type:"date", autocomplete: "off" %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m3 l3">
      <%= f.label :es_Cliente%>
      <p>
        <%= f.radio_button  :es_Cliente,true,checked:true%> <%= f.label "#{:es_Cliente}_true", "Si" %>
        <%= f.radio_button  :es_Cliente,false %> <%= f.label "#{:es_Cliente}_false", "No" %>
      </p>
    </div>
    <div class="input-field col s12 m9 l9">
      <%= f.label :como_Se_Entero %>
      <%= f.text_field :como_Se_Entero %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <%= f.label :familiar_Con_Prestamo,"¿Tiene algun familiar con prestamo?"%>
      <p>
        <%= f.radio_button  :familiar_Con_Prestamo,true,checked:true%> <%= f.label "#{:familiar_Con_Prestamo}_true", "Si" %>
        <%= f.radio_button  :familiar_Con_Prestamo,false %> <%= f.label "#{:familiar_Con_Prestamo}_false", "No" %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6 l6">
      <%= f.label :nombre_Completo_Familiar_1 %>
      <%= f.text_field :nombre_Completo_Familiar_1 %>
    </div>
    <div class="input-field col s12 m6 l6">
      <%= f.label :parentesco_1 %>
      <%= f.text_field :parentesco_1 %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6 l6">
      <%= f.label :nombre_Completo_Familiar_2 %>
      <%= f.text_field :nombre_Completo_Familiar_2 %>
    </div>
    <div class="input-field col s12 m6 l6">
      <%= f.label :parentesco_2 %>
      <%= f.text_field :parentesco_2 %>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>DATOS DEL SOLICITANTE (SIN ABREVIATURAS)</h5>
  </div>
  <div class="row">
    <div class="input-field col s12 m2 l2">
      <%= f.label :apellido_Paterno %>
      <%= f.text_field :apellido_Paterno %>
    </div>
    <div class="input-field col s12 m2 l2">
      <%= f.label :apellido_Materno %>
      <%= f.text_field :apellido_Materno %>
    </div>
    <div class="input-field col s12 m2 l2">
      <%= f.label :nombre_1 %>
      <%= f.text_field :nombre_1 %>
    </div>
    <div class="input-field col s12 m2 l2">
      <%= f.label :nombre_2 %>
      <%= f.text_field :nombre_2 %>
    </div>
    <div class="input-field col s12 m4 l4">
      <%= f.label :RFC %>
      <%= f.text_field :RFC %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m3 l3">
      <%= f.label :CURP %>
      <%= f.text_field :CURP %>
    </div>
    <div class="input-field col s12 m3 l3">
      <%= f.label :seguro %>
      <%= f.text_field :seguro %>
    </div>
    <div class="input-field col s12 m3 l3">
      <%= f.label :INE %>
      <%= f.text_field :INE %>
    </div>
    <div class="input-field col s12 m3 l3">
      <%= f.label :nacionalidad %>
      <%= f.text_field :nacionalidad %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m2 l2 ">
      <%= f.label :fecha_De_Nacimiento %>
      <%= f.text_field :fecha_De_Nacimiento, class:"datepicker",type:"date", autocomplete: "off" %>
    </div>
    <div class="input-field col s12 m2 l2 ">
      <%= f.label :ciudad_De_Nacimiento %>
      <%= f.text_field :ciudad_De_Nacimiento %>
    </div>
    <div class="input-field col s12 m3 l3 ">
      <%=f.collection_select(:estado_De_Nacimiento,Country.all,:descripcion,:descripcion,:prompt => 'Estado de nacimiento:')%>
      <%=f.label :estado_De_Nacimiento, "Estado de nacimiento:" %>
    </div>
    <div class="input-field col s12 m3 l3 ">
      <div class="">
        <%=f.collection_select(:Country_id,Country.all,:id,:descripcion,:prompt => 'Pais de nacimiento:')%>
        <%=f.label :Country_id, "Pais de nacimiento:" %>
      </div>
    </div>
    <div class="input-field col s12 m2 l2 ">
      <%= f.label :sexo%>
      <p>
        <%= f.radio_button  :sexo,true,checked:true%> <%= f.label "#{:sexo}_true", "Hombre" %>
        <%= f.radio_button  :sexo,false %> <%= f.label "#{:sexo}_false", "Mujer" %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m2 l2">
      <%= f.label :telefono_De_Casa %>
      <%= f.text_field :telefono_De_Casa %>
    </div>
    <div class="input-field col s12 m2 l2">
      <%= f.label :telefono_Celular %>
      <%= f.text_field :telefono_Celular %>
    </div>
    <div class="row col s12 m8 l8">
      <div class="input-field col s12">
        <%= f.label :email_1 %>
        <%= f.text_field :email_1 %>
      </div>
      <div class="input-field col s12">
        <%= f.label :email_2 %>
        <%= f.text_field :email_2 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
       <%= f.label :escolaridad%>
      <p>
        <%= f.radio_button  :escolaridad,0%> <%= f.label "#{:escolaridad}_0", "Primaria" %>
        <%= f.radio_button  :escolaridad,1%> <%= f.label "#{:escolaridad}_1", "Secundaria" %>
        <%= f.radio_button  :escolaridad,2%> <%= f.label "#{:escolaridad}_2", "Preparatoria" %>
        <%= f.radio_button  :escolaridad,3%> <%= f.label "#{:escolaridad}_3", "Técnico" %>
        <%= f.radio_button  :escolaridad,4%> <%= f.label "#{:escolaridad}_4", "Licenciatura" %>
        <%= f.radio_button  :escolaridad,5%> <%= f.label "#{:escolaridad}_5", "Posgrado" %>
        <%= f.radio_button  :escolaridad,6%> <%= f.label "#{:escolaridad}_6", "Sin estudio" %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="field">
      <%=f.collection_select(:EconomicalActivity_id,EconomicalActivity.all,:id,:descripcion,:prompt => 'Actividad economica:')%>
      <%=f.label :EconomicalActivity_id, "Actividad economica:" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m3 l3">
      <%= f.label :numero_De_Dependientes_Economicos %>
      <%= f.number_field :numero_De_Dependientes_Economicos %>
    </div>
    <div class="input-field col s12 m3 l3">
      <%= f.label :gasto_Promedio_Mensual %>
      <%= f.text_field :gasto_Promedio_Mensual %>
    </div>
    <div class="col s12 m6 l6">
       <%= f.label :estado_Civil%>
      <p>
        <%= f.radio_button  :estado_Civil,0%> <%= f.label "#{:estado_Civil}_0", "Soltero" %>
        <%= f.radio_button  :estado_Civil,1%> <%= f.label "#{:estado_Civil}_1", "Casado" %>
        <%= f.radio_button  :estado_Civil,2%> <%= f.label "#{:estado_Civil}_2", "Divorciado" %>
        <%= f.radio_button  :estado_Civil,3%> <%= f.label "#{:estado_Civil}_3", "Union libre" %>
        <%= f.radio_button  :estado_Civil,4%> <%= f.label "#{:estado_Civil}_4", "Viudo" %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m2 l2">
      <%= f.label :apellido_Paterno_Del_Conyuge %>
      <%= f.text_field :apellido_Paterno_Del_Conyuge %>
    </div>
    <div class="input-field col s12 m2 l2">
      <%= f.label :apellido_Materno_Del_Conyuge %>
      <%= f.text_field :apellido_Materno_Del_Conyuge %>
    </div>
    <div class="input-field col s12 m2 l2">
      <%= f.label :nombre_1_Del_Conyuge %>
      <%= f.text_field :nombre_1_Del_Conyuge %>
    </div>
    <div class="input-field col s12 m2 l2">
      <%= f.label :nombre_2_Del_Conyuge %>
      <%= f.text_field :nombre_2_Del_Conyuge %>
    </div>
    <div class="input-field col s12 m2 l2">
      <%= f.label :telefono_Celular_Del_Conyuge %>
      <%= f.text_field :telefono_Celular_Del_Conyuge %>
    </div>
    <div class="input-field col s12 m2 l2">
      <%= f.label :telefono_De_Oficina_Del_Conyuge %>
      <%= f.text_field :telefono_De_Oficina_Del_Conyuge %>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <%= f.label :fecha_De_Nacimiento %>
      <%= f.text_field :fecha_De_Nacimiento, class:"datepicker",type:"date", autocomplete: "off" %>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>DATOS DE LOS DEPENDIENTES ECONÓMICOS</h5>
  </div>
  <div class="row">
    <div class="input-field col s12 m6 l6">
      <%= f.label :nombre_completo_1 %>
      <%= f.text_field :nombre_completo_1 %>
    </div>
    <div class="input-field col s12 m2 l2">
      <%= f.label :edad_1 %>
      <%= f.number_field :edad_1 %>
    </div>
    <div class="input-field col s12 m4 l4">
      <%= f.label :parentesco_del_dependiente_1 %>
      <%= f.text_field :parentesco_del_dependiente_1 %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6 l6">
      <%= f.label :nombre_completo_2 %>
      <%= f.text_field :nombre_completo_2 %>
    </div>
    <div class="input-field col s12 m2 l2">
      <%= f.label :edad_2 %>
      <%= f.number_field :edad_2 %>
    </div>
    <div class="input-field col s12 m4 l4">
      <%= f.label :parentesco_del_dependiente_2 %>
      <%= f.text_field :parentesco_del_dependiente_2 %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6 l6">
      <%= f.label :nombre_completo_3 %>
      <%= f.text_field :nombre_completo_3 %>
    </div>
    <div class="input-field col s12 m2 l2">
      <%= f.label :edad_3 %>
      <%= f.number_field :edad_3 %>
    </div>
    <div class="input-field col s12 m4 l4">
      <%= f.label :parentesco_del_dependiente_3 %>
      <%= f.text_field :parentesco_del_dependiente_3 %>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>DOMICILIO DEL SOLICITANTE (SIN ABREVIATURAS).</h5>
  </div>
  
  <div class="row">
    <div class="input-field col s12 m8 l8">
      <%= f.label :calle %>
      <%= f.text_field :calle %>
    </div>
    <div class="input-field col s12 m2 l2">
      <%= f.label :numero_Interior %>
      <%= f.number_field :numero_Interior %>
    </div>
    <div class="input-field col s12 m2 l2">
      <%= f.label :numero_Exterior %>
      <%= f.number_field :numero_Exterior %>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m3 l3">
       <%= f.label :tipo_De_Domicilio%>
      <p>
        <%= f.radio_button  :tipo_De_Domicilio,0%> <%= f.label "#{:tipo_De_Domicilio}_0", "Propia" %>
        <%= f.radio_button  :tipo_De_Domicilio,1%> <%= f.label "#{:tipo_De_Domicilio}_1", "Familiar" %>
        <%= f.radio_button  :tipo_De_Domicilio,2%> <%= f.label "#{:tipo_De_Domicilio}_2", "Renta" %>
        <%= f.radio_button  :tipo_De_Domicilio,3%> <%= f.label "#{:tipo_De_Domicilio}_3", "Hipoteca" %>
      </p>
    </div>
    <div class="input-field col s12 m3 l3">
      <%= f.label :codigo_Postal %><br>
      <%= f.number_field :codigo_Postal %>
    </div>
    <div class="input-field col s12 m3 l3">
      <%= f.label :colonia %><br>
      <%= f.text_field :colonia %>
    </div>
    <div class="input-field col s12 m3 l3">
      <%=f.collection_select(:LocalidadCnbv_id,LocalidadCnbv.all,:id,:descripcion,:prompt => 'Localidad:')%>
      <%=f.label :LocalidadCnbv_id, "Localidad:" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m3 l3">
      <%= f.label :municipio %><br>
      <%= f.text_field :municipio %>
    </div>
    <div class="input-field col s12 m3 l3">
       <%=f.collection_select(:State_id,State.all,:id,:descripcion,:prompt => 'Estado:')%>
      <%=f.label :State_id, "Estado:" %>
    </div>
    <div class="input-field col s12 m3 l3">
      <%= f.label :antiguedad_En_El_Domicilio_Actual %><br>
      <%= f.text_field :antiguedad_En_El_Domicilio_Actual %>
    </div>
    <div class="input-field col s12 m3 l3">
      <%= f.label :antiguedad_En_El_Domicilio_Anterior %><br>
      <%= f.text_field :antiguedad_En_El_Domicilio_Anterior %>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>TRABAJO DEL SOLICITANTE (SIN ABREVIATURAS).</h5>
  </div>
  
  <div class="row">
    <div class="input-field col s12 m4 l4">
      <%= f.label :empresa_Donde_Labora %><br>
      <%= f.text_field :empresa_Donde_Labora %>
    </div>
    <div class="input-field col s12 m4 l4">
      <%= f.label :giro_De_La_Empresa %><br>
      <%= f.text_field :giro_De_La_Empresa %>
    </div>
    <div class="input-field col s12 m4 l4">
      <%= f.label :puesto %><br>
      <%= f.text_field :puesto %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m4 l4">
      <%= f.label :telefono_Empresa %><br>
      <%= f.text_field :telefono_Empresa %>
    </div>
    <div class="input-field col s12 m4 l4">
      <%= f.label :antiguedad_Laboral %><br>
      <%= f.text_field :antiguedad_Laboral %>
    </div>
    <div class="input-field col s12 m4 l4">
      <%= f.label :sueldo_Mensual_Neto %><br>
      <%= f.text_field :sueldo_Mensual_Neto %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m4 l4">
      <%= f.label :dirreccion_Empresa %><br>
      <%= f.text_field :dirreccion_Empresa %>
    </div>
    <div class="input-field col s12 m4 l4">
      <%= f.label :colonia_Empresa %><br>
      <%= f.text_field :colonia_Empresa %>
    </div>
    <div class="input-field col s12 m4 l4">
      <%= f.label :municipio_Empresa %><br>
      <%= f.text_field :municipio_Empresa %>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>SOLICITUD.</h5>
  </div>
  <div class="row">
    <div class="input-field col s12 m3 l3">
      <%= f.label :monto_Solicitud %><br>
      <%= f.text_field :monto_Solicitud %>
    </div>
    <div class="col s12 m3 l3">
       <%= f.label :cada_Cuanto_Se_Realizara_El_Pago%>
      <p>
        <%= f.radio_button  :cada_Cuanto_Se_Realizara_El_Pago,0%> <%= f.label "#{:cada_Cuanto_Se_Realizara_El_Pago}_0", "Quincenal" %>
        <%= f.radio_button  :cada_Cuanto_Se_Realizara_El_Pago,1%> <%= f.label "#{:cada_Cuanto_Se_Realizara_El_Pago}_1", "Semanal" %>
        <%= f.radio_button  :cada_Cuanto_Se_Realizara_El_Pago,2%> <%= f.label "#{:cada_Cuanto_Se_Realizara_El_Pago}_2", "Catorcenal" %>
      </p>
    </div>
    <div class="col s12 m6 l6">
      <%= f.label :lugar_Donde_Se_Realizara_El_Pago%>
      <p>
        <%= f.radio_button  :lugar_Donde_Se_Realizara_El_Pago,0%> <%= f.label "#{:lugar_Donde_Se_Realizara_El_Pago}_0", "Agente" %>
        <%= f.radio_button  :lugar_Donde_Se_Realizara_El_Pago,1%> <%= f.label "#{:lugar_Donde_Se_Realizara_El_Pago}_1", "Banco" %>
        <%= f.radio_button  :lugar_Donde_Se_Realizara_El_Pago,2%> <%= f.label "#{:lugar_Donde_Se_Realizara_El_Pago}_2", "Transparencia" %>
        <%= f.radio_button  :lugar_Donde_Se_Realizara_El_Pago,3%> <%= f.label "#{:lugar_Donde_Se_Realizara_El_Pago}_3", "Trabajo" %>
        <%= f.radio_button  :lugar_Donde_Se_Realizara_El_Pago,4%> <%= f.label "#{:lugar_Donde_Se_Realizara_El_Pago}_4", "Financiera Marjo" %>
      </p>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>REFERENCIAS PERSONALES (NO FAMILIARES)* (SI ABREVIATURAS).</h5>
  </div>
  <div class="row">
    <div class="row col s12 m8 l8">
      <div class="input-field col s12">
        <%= f.label :nombre_Referencia_1 %>
        <%= f.text_field :nombre_Referencia_1 %>
      </div>
      <div class="input-field col s12">
        <%= f.label :domicilio_Referencia_1 %>
        <%= f.text_field :domicilio_Referencia_1 %>
      </div>
    </div>
    <div class="row col s12 m4 l4">
      <div class="input-field col s12">
        <%= f.label :telefono_Fijo_Referencia_1 %>
        <%= f.text_field :telefono_Fijo_Referencia_1 %>
      </div>
      <div class="input-field col s12">
        <%= f.label :telefono_Celular_Referencia_1 %>
        <%= f.text_field :telefono_Celular_Referencia_1 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row col s12 m8 l8">
      <div class="input-field col s12">
        <%= f.label :nombre_Referencia_2 %>
        <%= f.text_field :nombre_Referencia_2 %>
      </div>
      <div class="input-field col s12">
        <%= f.label :domicilio_Referencia_2 %>
        <%= f.text_field :domicilio_Referencia_2 %>
      </div>
    </div>
    <div class="row col s12 m4 l4">
      <div class="input-field col s12">
        <%= f.label :telefono_Fijo_Referencia_2 %>
        <%= f.text_field :telefono_Fijo_Referencia_2 %>
      </div>
      <div class="input-field col s12">
        <%= f.label :telefono_Celular_Referencia_2 %>
        <%= f.text_field :telefono_Celular_Referencia_2 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row col s12 m8 l8">
      <div class="input-field col s12">
        <%= f.label :nombre_Referencia_3 %>
        <%= f.text_field :nombre_Referencia_3 %>
      </div>
      <div class="input-field col s12">
        <%= f.label :domicilio_Referencia_3 %>
        <%= f.text_field :domicilio_Referencia_3 %>
      </div>
    </div>
    <div class="row col s12 m4 l4">
      <div class="input-field col s12">
        <%= f.label :telefono_Fijo_Referencia_3 %>
        <%= f.text_field :telefono_Fijo_Referencia_3 %>
      </div>
      <div class="input-field col s12">
        <%= f.label :telefono_Celular_Referencia_3 %>
        <%= f.text_field :telefono_Celular_Referencia_3 %>
      </div>
    </div>
  </div>
   <div class="divider"></div>
  <div class="section">
    <h5>REFERENCIA FAMILIAR (QUE NO VIVA CON USTED) (SIN ABREVIATURAS).</h5>
  </div>
   <div class="row">
    <div class="row col s12 m8 l8">
      <div class="input-field col s12">
        <%= f.label :nombre_Referencia_Familiar %>
        <%= f.text_field :nombre_Referencia_Familiar %>
      </div>
      <div class="input-field col s12">
        <%= f.label :domicilio_Referencia_Familiar %>
        <%= f.text_field :domicilio_Referencia_Familiar %>
      </div>
    </div>
    <div class="row col s12 m4 l4">
      <div class="input-field col s12">
        <%= f.label :telefono_Fijo_Referencia_Familiar %>
        <%= f.text_field :telefono_Fijo_Referencia_Familiar %>
      </div>
      <div class="input-field col s12">
        <%= f.label :telefono_Celular_Referencia_Familiar %>
        <%= f.text_field :telefono_Celular_Referencia_Familiar %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>

