<p id="notice"><%= notice %></p>

<p>
  <strong>Agente empresa:</strong>
  <%= @credit.agente_Empresa %>
</p>

<p>
  <strong>Referencia agenteempresa:</strong>
  <%= @credit.referencia_AgenteEmpresa %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @credit.fecha %>
</p>

<p>
  <strong>Es cliente:</strong>
  <%= @credit.es_Cliente %>
</p>

<p>
  <strong>Como se entero:</strong>
  <%= @credit.como_Se_Entero %>
</p>

<p>
  <strong>Familiar con prestamo:</strong>
  <%= @credit.familiar_Con_Prestamo %>
</p>

<p>
  <strong>Nombre completo familiar 1:</strong>
  <%= @credit.nombre_Completo_Familiar_1 %>
</p>

<p>
  <strong>Parentesco 1:</strong>
  <%= @credit.parentesco_1 %>
</p>

<p>
  <strong>Nombre completo familiar 1:</strong>
  <%= @credit.nombre_Completo_Familiar_1 %>
</p>

<p>
  <strong>Parentesco1:</strong>
  <%= @credit.parentesco1 %>
</p>

<p>
  <strong>Nombre completo familiar 1:</strong>
  <%= @credit.nombre_Completo_Familiar_1 %>
</p>

<p>
  <strong>Parentesco 1:</strong>
  <%= @credit.parentesco_1 %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @credit.apellido_Paterno %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @credit.apellido_Materno %>
</p>

<p>
  <strong>Nombre 1:</strong>
  <%= @credit.nombre_1 %>
</p>

<p>
  <strong>Nombre 2:</strong>
  <%= @credit.nombre_2 %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @credit.RFC %>
</p>

<p>
  <strong>Curp:</strong>
  <%= @credit.CURP %>
</p>

<p>
  <strong>Seguro:</strong>
  <%= @credit.seguro %>
</p>

<p>
  <strong>Ine:</strong>
  <%= @credit.INE %>
</p>

<p>
  <strong>Nacionalidad:</strong>
  <%= @credit.nacionalidad %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @credit.fecha_De_Nacimiento %>
</p>

<p>
  <strong>Ciudad de nacimiento:</strong>
  <%= @credit.ciudad_De_Nacimiento %>
</p>

<p>
  <strong>Estado de nacimiento:</strong>
  <%= @credit.estado_De_Nacimiento %>
</p>

<p>
  <strong>Pais de nacimiento:</strong>
  <%= @credit.pais_De_Nacimiento %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @credit.sexo %>
</p>

<p>
  <strong>Telefono de casa:</strong>
  <%= @credit.telefono_De_Casa %>
</p>

<p>
  <strong>Telefono celular:</strong>
  <%= @credit.telefono_Celular %>
</p>

<p>
  <strong>Email 1:</strong>
  <%= @credit.email_1 %>
</p>

<p>
  <strong>Email 2:</strong>
  <%= @credit.email_2 %>
</p>

<p>
  <strong>Escolaridad:</strong>
  <%= @credit.escolaridad %>
</p>

<p>
  <strong>Actividad econimica:</strong>
  <%= @credit.actividad_Econimica %>
</p>

<p>
  <strong>Numero de dependientes economicos:</strong>
  <%= @credit.numero_De_Dependientes_Economicos %>
</p>

<p>
  <strong>Gasto promedio mensual:</strong>
  <%= @credit.gasto_Promedio_Mensual %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @credit.estado_Civil %>
</p>

<p>
  <strong>Apellido paterno del conyuge:</strong>
  <%= @credit.apellido_Paterno_Del_Conyuge %>
</p>

<p>
  <strong>Apellido materno del conyuge:</strong>
  <%= @credit.apellido_Materno_Del_Conyuge %>
</p>

<p>
  <strong>Nombre 1 del conyuge:</strong>
  <%= @credit.nombre_1_Del_Conyuge %>
</p>

<p>
  <strong>Nombre 2 del conyuge:</strong>
  <%= @credit.nombre_2_Del_Conyuge %>
</p>

<p>
  <strong>Telefono celular del conyuge:</strong>
  <%= @credit.telefono_Celular_Del_Conyuge %>
</p>

<p>
  <strong>Telefono de oficina del conyuge:</strong>
  <%= @credit.telefono_De_Oficina_Del_Conyuge %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @credit.fecha_De_Nacimiento %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @credit.calle %>
</p>

<p>
  <strong>Numero interior:</strong>
  <%= @credit.numero_Interior %>
</p>

<p>
  <strong>Numero exterior:</strong>
  <%= @credit.numero_Exterior %>
</p>

<p>
  <strong>Tipo de domicilio:</strong>
  <%= @credit.tipo_De_Domicilio %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= @credit.codigo_Postal %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @credit.colonia %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @credit.localidad %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @credit.municipio %>
</p>

<p>
  <strong>Estado actual:</strong>
  <%= @credit.estado_Actual %>
</p>

<p>
  <strong>Antiguedad en el domicilio actual:</strong>
  <%= @credit.antiguedad_En_El_Domicilio_Actual %>
</p>

<p>
  <strong>Antiguedad en el domicilio anterior:</strong>
  <%= @credit.antiguedad_En_El_Domicilio_Anterior %>
</p>

<p>
  <strong>Empresa donde labora:</strong>
  <%= @credit.empresa_Donde_Labora %>
</p>

<p>
  <strong>Giro de la empresa:</strong>
  <%= @credit.giro_De_La_Empresa %>
</p>

<p>
  <strong>Puesto:</strong>
  <%= @credit.puesto %>
</p>

<p>
  <strong>Telefono empresa:</strong>
  <%= @credit.telefono_Empresa %>
</p>

<p>
  <strong>Antiguedad laboral:</strong>
  <%= @credit.antiguedad_Laboral %>
</p>

<p>
  <strong>Sueldo mensual neto:</strong>
  <%= @credit.sueldo_Mensual_Neto %>
</p>

<p>
  <strong>Dirreccion empresa:</strong>
  <%= @credit.dirreccion_Empresa %>
</p>

<p>
  <strong>Colonia empresa:</strong>
  <%= @credit.colonia_Empresa %>
</p>

<p>
  <strong>Municipio empresa:</strong>
  <%= @credit.municipio_Empresa %>
</p>

<p>
  <strong>Monto solicitud:</strong>
  <%= @credit.monto_Solicitud %>
</p>

<p>
  <strong>Cada cuanto se realizara el pago:</strong>
  <%= @credit.cada_Cuanto_Se_Realizara_El_Pago %>
</p>

<p>
  <strong>Lugar donde se realizara el pago:</strong>
  <%= @credit.lugar_Donde_Se_Realizara_El_Pago %>
</p>

<p>
  <strong>Nombre referencia 1:</strong>
  <%= @credit.nombre_Referencia_1 %>
</p>

<p>
  <strong>Domicilio referencia 1:</strong>
  <%= @credit.domicilio_Referencia_1 %>
</p>

<p>
  <strong>Telefono fijo referencia 1:</strong>
  <%= @credit.telefono_Fijo_Referencia_1 %>
</p>

<p>
  <strong>Telefono celular referencia 1:</strong>
  <%= @credit.telefono_Celular_Referencia_1 %>
</p>

<p>
  <strong>Nombre referencia 2:</strong>
  <%= @credit.nombre_Referencia_2 %>
</p>

<p>
  <strong>Domicilio referencia 2:</strong>
  <%= @credit.domicilio_Referencia_2 %>
</p>

<p>
  <strong>Telefono fijo referencia 2:</strong>
  <%= @credit.telefono_Fijo_Referencia_2 %>
</p>

<p>
  <strong>Telefono celular referencia 2:</strong>
  <%= @credit.telefono_Celular_Referencia_2 %>
</p>

<p>
  <strong>Nombre referencia 3:</strong>
  <%= @credit.nombre_Referencia_3 %>
</p>

<p>
  <strong>Domicilio referencia 3:</strong>
  <%= @credit.domicilio_Referencia_3 %>
</p>

<p>
  <strong>Telefono fijo referencia 3:</strong>
  <%= @credit.telefono_Fijo_Referencia_3 %>
</p>

<p>
  <strong>Telefono celular referencia 3:</strong>
  <%= @credit.telefono_Celular_Referencia_3 %>
</p>

<p>
  <strong>Nombre referencia familiar:</strong>
  <%= @credit.nombre_Referencia_Familiar %>
</p>

<p>
  <strong>Domicilio referencia familiar:</strong>
  <%= @credit.domicilio_Referencia_Familiar %>
</p>

<p>
  <strong>Telefono fijo referencia familiar:</strong>
  <%= @credit.telefono_Fijo_Referencia_Familiar %>
</p>

<p>
  <strong>Telefono celular referencia familiar:</strong>
  <%= @credit.telefono_Celular_Referencia_Familiar %>
</p>

<%= link_to 'Edit', edit_credit_path(@credit) %> |
<%= link_to 'Back', credits_path %>
