<div class="row">
  <%= form_for(@product) do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
  
        <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :nombre_del_producto %>
      <%= f.text_field :nombre_del_producto %>
    </div>
    <div class="field">
      <%= f.label :registro_del_contrado_de_adhesion %>
      <%= f.text_field :registro_del_contrado_de_adhesion %>
    </div>
    <div class="field">
      <%= f.collection_select(:loan_id, Loan.all ,:id, :nombre, :prompt => 'Tipo de prestamo:') %>
      <%=f.label :loan_id,"Tipo de prestamo"%>
    </div>
    <div class="field">
      <%= f.collection_select(:payout_id, Payout.all ,:id, :nombre, :prompt => 'Forma de pago:') %>
      <%=f.label :payout_id,"Forma de pago"%>
    </div>
     <div class="field">
      <%= f.select(:plazo_de_prestamo) do %>
        <% [['12 Q'], ['24 s'],['1Q'],['32s']].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.first) %>
        <% end %>
      <% end %>
      <%=f.label :plazo_de_prestamo, "Plazo de prestamo"%>
    </div>
    <div class="field">
      <%= f.label :numero_de_pagos_a_realizar %>
      <%= f.number_field :numero_de_pagos_a_realizar %>
    </div>
    <div class="field">
      <%= f.label :taza_de_interes_ordinaria %>
      <%= f.number_field :taza_de_interes_ordinaria %>
    </div>
    <div class="field">
      <%= f.label :taza_de_interes_moratoria %>
      <%= f.number_field :taza_de_interes_moratoria %>
    </div>
    <div class="field">
      <%= f.label :cat_sin_iva %>
      <%= f.number_field :cat_sin_iva %>
    </div>
    <div class="field">
      <%= f.label :numero_de_meses_de_sueldo_para_prestamo %>
      <%= f.number_field :numero_de_meses_de_sueldo_para_prestamo %>
    </div>
</div>
    <div class="actions">
      <%= f.submit 'Guardar' %>
    </div>
  <% end %>
